<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth</title>
  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  {% extends "base.html" %}
{% block title %}Pagina Mea{% endblock %}
{% block content %}
<h1>Bun venit la platforma mea!</h1>
{% endblock %}
  <div class="container" id="container">
    <!-- Formul pentru înregistrare -->
    <div class="form-container register-container">
      <form method="POST" action="{{ url_for('login_register') }}">
        <h1>Register hire.</h1>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" name="register">Register</button>
      </form>
    </div>

    <!-- Formul pentru login -->
    <div class="form-container login-container">
      <form method="POST" action="{{ url_for('login_register') }}">
        <h1>Login hire.</h1>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" name="login">Login</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 class="title">Hello <br> friends</h1>
          <p>If you have an account, login here and have fun.</p>
          <button class="ghost" id="login">Login
            <i class="lni lni-arrow-left login"></i>
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 class="title">Start your <br> journey now</h1>
          <p>If you don't have an account yet, join us and start your journey.</p>
          <button class="ghost" id="register">Register
            <i class="lni lni-arrow-right register"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="static/script.js"></script>
</body>
</html>
